spring.jpa.show-sql=true
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.datasource.url=${DB_ROOT}
spring.jpa.hibernate.ddl-auto=update
spring.datasource.username=root
spring.datasource.password=root


#swagger
spring.mvc.throw-exception-if-no-handler-found=true
spring.web.resources.add-mappings=false

#smtp
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=${EMAIL}
spring.mail.password=${APP_PWD}

spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true